/* Set smooth scrolling for the entire page */
html {
  scroll-behavior: smooth;
}

/* Basic styling for the entire page */
body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

/* Style the navigation bar */
nav {
  background-color: Black;
  color: white;
  padding: 20px 50px;
}

/* Style the top section of the navigation bar */
.navTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Style the search bar */
.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

/* Style the search input field */
.searchInput {
  border: none;
  background-color: transparent;
}

/* Style the placeholder text in the search input field */
.searchInput::placeholder {
  color: lightgray;
}

/* Style the "Limited Offer" message */
.limitedOffer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}

/* Style the bottom section of the navigation bar */
.navBottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Style individual menu items */
.menuItem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgray;
  font-weight: 400;
}

/* Style the slider section */
.slider {
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

/* Style the slider wrapper */
.sliderWrapper {
  display: flex;
  width: 500vw;
  transition: all 1.5s ease-in-out;
}

/* Style individual slider items */
.sliderItem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* Style the background circle in each slider item */
.sliderBg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
}

/* Style the slider images */
.sliderImg {
  z-index: 1;
}

/* Style the slider titles */
.sliderTitle {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  color: white;
  z-index: 1;
}

/* Style the slider prices */
.sliderPrice {
  position: absolute;
  top: 10%;
  left: 10%;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  color: white;
  border: 1px solid gray;
  z-index: 1;
}

/* Style the "BUY NOW" buttons in each slider item */
.buyButton {
  position: absolute;
  top: 50%;
  right: 10%;
  font-size: 30px;
  font-weight: 900;
  color: white;
  border: 1px solid gray;
  background-color: black;
  z-index: 1;
  cursor: pointer;
}

/* Style the hover effect for "BUY NOW" buttons */
.buyButton:hover {
  background-color: white;
  color: black;
}

/* Style the background colors and prices for each slider item */
.sliderItem:nth-child(1) .sliderBg {
  background-color: #369e62;
}
.sliderItem:nth-child(2) .sliderBg {
  background-color: rebeccapurple;
}
.sliderItem:nth-child(3) .sliderBg {
  background-color: teal;
}
.sliderItem:nth-child(4) .sliderBg {
  background-color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderBg {
  background-color: rgb(124, 115, 80);
}

/* Style the text color for prices in each slider item */
.sliderItem:nth-child(1) .sliderPrice {
  color: #369e62;
}
.sliderItem:nth-child(2) .sliderPrice {
  color: white;
}
.sliderItem:nth-child(3) .sliderPrice {
  color: teal;
}
.sliderItem:nth-child(4) .sliderPrice {
  color: cornflowerblue;
}
.sliderItem:nth-child(5) .sliderPrice {
  color: cornsilk;
}

/* Style the features section */
.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

/* Style individual feature items */
.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

/* Style feature icons */
.featureIcon {
  width: 80px;
  height: 80px;
}

/* Style feature titles */
.featureTitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

/* Style feature descriptions */
.featureDesc {
  color: gray;
  width: 50%;
  height: 100px;
}

  /* Style the product section */
.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}

/* Style the payment form */
.payment {
  width: 500px;
  height: 500px;
  background-color: white;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
}

/* Style the payment section titles */
.payTitle {
  font-size: 20px;
  color: lightgray;
}

/* Style labels in the payment form */
label {
  font-size: 14px;
  font-weight: 300;
}

/* Style payment input fields */
.payInput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid gray;
}

/* Style placeholder text in input fields */
.payInput::placeholder {
  color: rgb(163, 163, 163);
}

/* Style payment card icons */
.cardIcons {
  display: flex;
}

/* Style individual card icons */
.cardIcon {
  margin-right: 10px;
}

/* Style card information input fields */
.cardInfo {
  display: flex;
  justify-content: space-between;
}

/* Style small input fields for card information */
.sm {
  width: 30%;
}

/* Style the payment button */
.payButton {
  position: absolute;
  height: 40px;
  bottom: -40;
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: #369e62;
  color: white;
  border: none;
  cursor: pointer;
}

/* Style the close button for the payment form */
.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: gray;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 2px;
}

/* Style the product image */
.productImg {
  width: 50%;
}

/* Style the product details section */
.productDetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

/* Style the product title */
.productTitle {
  font-size: 75px;
  font-weight: 900;
}

/* Style the product description */
.productDesc {
  font-style: 24px;
  color: gray;
}

/* Style the color and size options */
.colors,
.sizes {
  display: flex;
  margin-bottom: 20px;
}

/* Style individual color options */
.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}
/* Style the last color option */
.color:last-child {
  background-color: darkblue;
}

/* Style individual size options */
.size {
  padding: 5px 20px;
  border: 1px solid black;
  margin-right: 10px;
  cursor: pointer;
  font-size: 20px;
}

/* Style the product purchase button */
.productButton {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

/* Style the product button on hover */
.productButton:hover {
  background-color: white;
  color: black;
}

/* Style the product gallery section */
.gallery {
  padding: 50px;
  display: flex;
}

/* Style individual gallery items */
.galleryItem {
  flex: 1;
  padding: 50px;
}

/* Style gallery images */
.galleryImg {
  width: 100%;
}

/* Style the "New Season" section */
.newSeason {
  display: flex;
}

/* Style individual "New Season" items */
.nsItem {
  flex: 1;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* Style "New Season" images */
.nsImg {
  width: 100%;
  height: 500px;
}

/* Style "New Season" titles */
.nsTitle {
  font-size: 40px;
}

/* Style "New Season" buttons */
.nsButton {
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}

/* Style the footer section */
footer {
  display: flex;
}

/* Style the left side of the footer */
.footerLeft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}

/* Style footer menu titles */
.fMenuTitle {
  font-size: 16px;
}

/* Style footer menu lists */
.fList {
  padding: 0;
  list-style: none;
}

/* Style individual items in the footer menu */
.fListItem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

/* Style the right side of the footer */
.footerRight {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Style footer input fields */
.fInput {
  padding: 5px;
}

/* Style footer buttons */
.fButton {
  padding: 5px;
  background-color: black;
  color: white;
}

/* Style footer icons */
.fIcons {
  display: flex;
}

/* Style individual footer icons */
.fIcon {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

/* Style footer copyright text */
.copyright {
  font-weight: 300;
  font-size: 14px;
}
  
  /* Media query for screens with a maximum width of 480px */
@media screen and (max-width: 480px) {
  /* Style for the navigation menu */
  nav {
      padding: 20px;
  }

  /* Hide the search input on smaller screens */
  .search {
      display: none;
  }

  /* Allow navigation menu items to wrap to the next line */
  .navBottom {
      flex-wrap: wrap;
  }

  /* Style individual navigation menu items for smaller screens */
  .menuItem {
      margin: 20px;
      font-weight: 700;
      font-size: 20px;
  }

  /* Adjust the slider on smaller screens by removing clip-path */
  .slider {
      clip-path: none;
  }

  /* Adjust the slider image width on smaller screens */
  .sliderImg {
      width: 90%;
  }

  /* Set slider background width and height to 100% */
  .sliderBg {
      width: 100%;
      height: 100%;
  }

  /* Hide the slider title on smaller screens */
  .sliderTitle {
      display: none;
  }

  /* Adjust the position of the slider price element */
  .sliderPrice {
      top: unset;
      bottom: -50;
      left: 0;
      background-color: lightgrey;
  }

  /* Adjust the position of the buy button on smaller screens */
  .buyButton {
      right: 0;
      top: 0;
  }

  /* Change the flex direction of the features section to column */
  .features {
      flex-direction: column;
  }

  /* Adjust the product section on smaller screens */
  .product {
      clip-path: none;
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  /* Adjust the product image width on smaller screens */
  .productImg {
      width: 80%;
  }

  /* Adjust the product details section on smaller screens */
  .productDetails {
      width: 100%;
      padding: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      position: relative;
      top: 0;
  }

  /* Adjust the product title font size on smaller screens */
  .productTitle {
      font-size: 50px;
      margin: 0;
  }

  /* Hide the gallery section on smaller screens */
  .gallery {
      display: none;
  }

  /* Change the flex direction of the "New Season" section to column */
  .newSeason {
      flex-direction: column;
  }

  /* Add padding to the second "New Season" item on smaller screens */
  .nsItem:nth-child(2) {
      padding: 50px;
  }

  /* Adjust the footer section for smaller screens */
  footer {
      flex-direction: column;
      align-items: center;
  }

  /* Adjust the left side of the footer on smaller screens */
  .footerLeft {
      padding: 20px;
      width: 90%;
  }

  /* Adjust the right side of the footer on smaller screens */
  .footerRight {
      padding: 20px;
      width: 90%;
      align-items: center;
      background-color: whitesmoke;
  }

  /* Adjust the payment form on smaller screens */
  .payment {
      width: 90%;
      padding: 20px;
  }
}
